    <%- include('./includes/head.ejs') %>

    <link rel="stylesheet" href="/css/frontend/index.css">
    <title><%= title %></title>
</head>

<body dir="rtl">

    <%- include('./includes/header.ejs') %>

    <section class="first-section">
        <div class="container">
            <div class="welcom-msg">
                <p>
                    اهلا بكم في مقالات !
                </p>
                <p>
                    حيث العلم والمعرفة
                </p>
            </div>
            <div class="info-box">
                <div class="top">
                    <div class="info-box-childe">
                        <div class="circle">
                            <i class="fa-regular fa-file-lines"></i>
                        </div>
                        <div class="info-text">
                            100 مقال
                        </div>
                    </div>
                </div>

                <div class="down">
                    <div class="info-box-childe">
                        <div class="circle">
                            <i class="fa-regular fa-file-lines"></i>
                        </div>
                        <div class="info-text">
                            100 مقال
                        </div>
                    </div>
                    <div class="info-box-childe">
                        <div class="circle">
                            <i class="fa-regular fa-file-lines"></i>
                        </div>
                        <div class="info-text">
                            100 مقال
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us" class="about-us">
        <div class="container">
            <div class="section-title">
                <p>
                    من نحن
                </p>
                <div>
                    <img src="../imgs/line-color-6.svg" alt="">
                </div>
            </div>
            <div class="about-us-text-box">
                <div class="about-us-text">
                    <div class="title">
                        تعريف
                    </div>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eaque quod ducimus perspiciatis, aut at. Voluptates inventore porro magni repellendus nobis? Alias, soluta? Maiores provident nesciunt numquam, ducimus consequuntur blanditiis optio saepe odio ab totam tempora. Totam aliquam similique nesciunt.
                    </p>
                </div>
                <div class="about-us-text">
                    <div class="title">
                        تعريف
                    </div>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eaque quod ducimus perspiciatis, aut at. Voluptates inventore porro magni repellendus nobis? Alias, soluta? Maiores provident nesciunt numquam, ducimus consequuntur blanditiis optio saepe odio ab totam tempora. Totam aliquam similique nesciunt.
                    </p>
                </div>
                <div class="about-us-text">
                    <div class="title">
                        تعريف
                    </div>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eaque quod ducimus perspiciatis, aut at. Voluptates inventore porro magni repellendus nobis? Alias, soluta? Maiores provident nesciunt numquam, ducimus consequuntur blanditiis optio saepe odio ab totam tempora. Totam aliquam similique nesciunt.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-us" class="contact-us">
        <div class="container">
            <div class="section-title">
                <p>
                    تواصل معنا
                </p>
                <div>
                    <img src="../imgs/line-color-4.svg">
                </div>
            </div>
            <p>
                يمكنكم التواصل معنا عن طريق
            </p>
            <div class="social-media-links">
                <p class="short-text">
                    حساباتنا على مواقع التواصل الاجتماعي
                </p>
                <div class="links">
                    <div class="link">
                        <i class="fa-brands fa-square-facebook"></i>
                    </div>
                    <div class="link">
                        <i class="fa-brands fa-square-facebook"></i>
                    </div>
                    <div class="link">
                        <i class="fa-brands fa-square-facebook"></i>
                    </div>
                    <div class="link">
                        <i class="fa-brands fa-square-facebook"></i>
                    </div>
                </div>
            </div>
            <div class="email-link">
                <p class="short-text">
                    او عن طريق الايميل
                </p>
                <div>
                    contact@maqalat.com
                </div>
            </div>
        </div>
    </section>

    <script src="/javascript/frontend/includes/header.js"></script>

    <%- include('./includes/footer.ejs') %>