<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/frontend/read-article.css">
    <title><%= title %></title>
</head>

<body>
    <%- include('./includes/header.ejs') %>

    <section class="article container">
        <div class="article-header">
            <img src="/imgs/aspect-ratios-blogpost-1x1-1.png" alt="article-image">
            <div class="text">
                <div>
                    <p class="title">
                        عنوان المقال يكتب هنا
                    </p>
                    <p class="caption">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto fuga dolores consequatur iure?
                        Id voluptatum nemo voluptas at quam. Voluptates.
                    </p>
                </div>

                <div>
                    <p class="author">
                        الكاتب:
                        <span>
                            علي حسين
                        </span>
                    </p>
                    <p class="date">
                        آخر تعديل:
                        <span>
                            2/1/2024
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="article-body">
            <h1>
                اولا: البرنامج القرآنيّ التعليميّ لطلبة العلوم الدينيّة
            </h1>
            <p>
                يتضمّن البرنامج عدّة دورات انقسمت على أربع مراحل، الأولى خُصّصت لتعليم القراءة الصحيحة، والثانية لأحكام التلاوة، والثالثة والرابعة خُصّصت لتدريس علوم القرآن الكريم ومناهج التفسير، فضلًا عن الحفظ الموضوعيّ لآيات القرآن الكريم، ومن المراحل الثلاثة الأولى يتم اختيار المتفوّقين من الطلبة بعد اختبارات نظريّة وتطبيقيّة لإشراكهم في دورات تطويريّة وتخصّصيّة لإعدادهم إعدادًا يؤهّلهم لتدريس أحكام التلاوة وعلوم القرآن الكريم.
                تخرّج من هذا المشروع أكثر من (1850) طالبًا من طلبة العلوم الدينيّة من جنسيّات متعدّدة، وأكثر من (80) أستاذًا متخصّصًا في أحكام التلاوة والتجويد وعلوم القرآن الكريم على مدار سبعة أعوام، وصل خلالها إشعاع هذا المشروع إلى أصقاع متفرّقة من العالم، كالقارّة الأفريقيّة وإندونيسيا والفلبّين وتركيا والهند وإيران وأذربيجان وباكستان وتونس وفرنسا، وغيرها من الدول العربيّة والإسلاميّة، فضلًا عن (12) محافظة من المحافظات العراقيّة، ويستهدف بدورته الثامنة لعام (1445هـ) استقطاب أكثر من (500) طالبٍ من طلبة العلوم الدّينيّة بعد النّجاح الكبير الذي سجّلته دوراته السّابقة.
            </p>

            <h5></h5>


            <h1>
                ثانيا: البرنامج القرآنيّ التّبليغيّ (يُبَلِّغُونَ):
            </h1>
            <p>
                هو برنامج يتضمّن إعداد مبلّغين من طلبة الحوزة العلميّة لنـشر الثقافة والوعي الإسلاميّ في محافظات عراقنا الحبيب، عبر إلقاء محاضرات قرآنيّة ترصد المشكلات الفكريّة والاجتماعيّة والأخلاقيّة والأسريّة المعاصرة لإيجاد حلول ناجعة لها من كتاب الله والعترة الطاهرة.
            </p>

            <h5></h5><h5></h5>
            <h4>
                Lorem ipsum dolor sit amet.
            </h4>
            <a href="#">hello</a>
            <ul>
                <li>
                    <a href="#">ggg</a>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, atque?
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, atque?
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, atque?
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, atque?
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, atque?
                </li>
            </ul>

        </div>
    </section>
    
    <script src="/javascript/frontend/includes/header.js"></script>
    <%- include('./includes/footer.ejs') %>