<footer>
    <div class="container">
        <div class="main-logo">
            <a href="/">
                مقالات
            </a>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="/sections/">
                        الأقسام
                    </a>
                </li>
                <li>
                    <a href="/articles/">
                        المقالات
                    </a>
                </li>
                <li>
                    <a href="/topics/">
                        المواضيع
                    </a>
                </li>
                <li>
                    <a href="/#about-us">
                        من نحن
                    </a>
                </li>
                <li>
                    <a href="/#contact-us">
                        تواصل معنا
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>