<header class="main_header" id="main_header">
    <div class="container">
        <div class="main-logo">
            <a href="/">
                مقالات
            </a>
            <div class="list-btn">
                <i onclick="show_hide_mobileNabar()" id="list-btn" class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="/sections/">
                        الأقسام
                    </a>
                </li>
                <li>
                    <a href="/articles/">
                        المقالات
                    </a>
                </li>
                <li>
                    <a href="/topics/">
                        المواضيع
                    </a>
                </li>
                <li>
                    <a href="/#about-us">
                        من نحن
                    </a>
                </li>
                <li>
                    <a href="/#contact-us">
                        تواصل معنا
                    </a>
                </li>
            </ul>
        </div>

        <!-- mobile header  -->
        <div id="mobile-header" class="mobile-header">
            <ul>
                <li onclick="hide_mobileNabar()">
                    <a href="/sections/">
                        الأقسام
                    </a>
                </li>
                <li onclick="hide_mobileNabar()">
                    <a href="/articles/">
                        المقالات
                    </a>
                </li>
                <li onclick="hide_mobileNabar()">
                    <a href="/topics/">
                        المواضيع
                    </a>
                </li>
                <li onclick="hide_mobileNabar()">
                    <a href="/#about-us">
                        من نحن
                    </a>
                </li>
                <li onclick="hide_mobileNabar()">
                    <a href="/#contact-us">
                        تواصل معنا
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>


<header id="static_header" class="static_header">
    <div class="container">
        <div class="main-logo">
            <a href="/">
                مقالات
            </a>
            <div class="list-btn">
                <i onclick="show_hide_static_mobileNabar()" id="list-static-btn" class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="/sections/">
                        الأقسام
                    </a>
                </li>
                <li>
                    <a href="/articles/">
                        المقالات
                    </a>
                </li>
                <li>
                    <a href="/topics/">
                        المواضيع
                    </a>
                </li>
                <li>
                    <a href="/#about-us">
                        من نحن
                    </a>
                </li>
                <li>
                    <a href="/#contact-us">
                        تواصل معنا
                    </a>
                </li>
            </ul>
        </div>

        <!-- mobile header  -->
        <div id="mobile-static-header" class="mobile-header">
            <ul>
                <li onclick="hide_static_mobileNabar()">
                    <a href="/sections/">
                        الأقسام
                    </a>
                </li>
                <li onclick="hide_static_mobileNabar()">
                    <a href="/articles/">
                        المقالات
                    </a>
                </li>
                <li onclick="hide_static_mobileNabar()">
                    <a href="/topics/">
                        المواضيع
                    </a>
                </li>
                <li onclick="hide_static_mobileNabar()">
                    <a href="/#about-us">
                        من نحن
                    </a>
                </li>
                <li onclick="hide_static_mobileNabar()">
                    <a href="/#contact-us">
                        تواصل معنا
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<header id="larg-static-header" class="larg-static-header">
    <div class="container">
        <div class="main-logo">
            <a href="/">
                مقالات
            </a>
            <div class="list-btn">
                <i onclick="show_hide_mobileNabar()" id="list-btn" class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="/sections/">
                        الأقسام
                    </a>
                </li>
                <li>
                    <a href="/articles/">
                        المقالات
                    </a>
                </li>
                <li>
                    <a href="/topics/">
                        المواضيع
                    </a>
                </li>
                <li>
                    <a href="/#about-us">
                        من نحن
                    </a>
                </li>
                <li>
                    <a href="/#contact-us">
                        تواصل معنا
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>